{% extends 'base.html.twig' %}

{% block title %}Les p'tites recettes - Acceuil{% endblock %}
{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur les p'tites recettes!</h1>
            <p class="lead">Les p'tites recettes est une application qui va permettre de créer des recettes à base d'ingrédients que tu auras toi-même créé.
                Tu pourras partager tes recettes à la communauté du site, ou bien les garder en privé.</p>
            <hr class="my-4">
            <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </div>
        <div class="recipes">
            <h2 class="mt-4">Recettes de la communauté</h2>
            <div class="d-flex justify-content-between">
                {% for recipe in recipes %}
                <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                    <div class="card-header">Recette n°{{ recipe.id }}</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ recipe.name }}</h4>
                        <p class="card-text">{{ recipe.description|slice(0, 100) ~ '...' }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

