{% extends 'base.html.twig' %}

{% block title %}Les p'tites recettes - Inscription{% endblock %}

{% block body %}

  <div class="container">
    <h1 class="mt-4">Formaulaire d'inscription</h1>

    {{ form(form) }}
    
  </div>
{% endblock %}